@using HoldYourHorses.Views.Accounts
@model RegisterVM
@section CSS{
	<link rel="stylesheet" href="~/CSS/Register.css">
}

	<div class="super-container">
	<div class="register-body">
		<h1>Registrera</h1>
		<form asp-controller="Accounts" asp-action="Register">
			<div class="info-div">
				<label class="register-label" asp-for="Username"></label>
				<input asp-for="Username" />
				<span asp-validation-for="Username"></span>
			</div>
			<div class="info-div">
				<label class="register-label" asp-for="Password"></label>
				<input asp-for="Password" />
				<span asp-validation-for="Password"></span>
			</div>
			<div class="info-div">
				<label class="register-label" asp-for="PasswordRepeat"></label>
				<input asp-for="PasswordRepeat" />
				<span asp-validation-for="PasswordRepeat"></span>
			</div>
			<br />
			<input type="submit" value="Registrera" />
		</form>
		<div asp-validation-summary="All"></div>
	</div>
	</div>