<div id="custom-backdrop"></div>
<dialog id="cookie-dialog" open>
    <div id="cookieConsent" class="cookiecontainer">
        <span id="information-span">
            Det här är en falsk webbutik skapad av Yousif Ali. Hemsidan simulerar en verklig webbutik, men det går inte köpa några produkter här.
            <br />
            <br />
            HållDinKäpp använder kakor för att spara innehållet i din varukorg.
            Genom att fortsätta använda webbplatsen samtycker du till detta.
        </span>
        <button id="cookie-button" class="default-button" data-cookie-string="@ViewData["consentCookie"]">
            Fortsätt
        </button>
    </div>
</dialog>