<div class="navbar-container">
    <div class="navbar">
        <a id="a-company-name" asp-controller="Shop" asp-action="Index">
            <div id="company-logo">@Html.Partial("_CompanyLogo")</div>
            <div class="h1-navbar">
                <h1 class="h1-logo">HållDinKäpp</h1>
            </div>
        </a>

        <div id="search-div-row-1" class="search-div">
            <input class="search-input" type="text" placeholder="Sök" name="search" list="article-choice">
                <button onclick="searchFunction()" id="search-btn" type="submit">
                <partial name="~/Views/Shared/SVGs/SearchIcon.cshtml" />
                </button>
            </div>

        <div class="logos">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-svg-navigation" asp-controller="Account" asp-action="UserPage">
                    <partial name="~/Views/Shared/SVGs/AccountIcon.cshtml" />
                    <p class="logo-p"> Konto</p>
                </a>
            }
            else
            {
                <a class="navbar-svg-navigation" asp-controller="Account" asp-action="Login">
                    <partial name="~/Views/Shared/SVGs/AccountIcon.cshtml" />
                    <p class="logo-p"> Logga in</p>
                </a>
            }

            <a id="a-cart" class="navbar-svg-navigation" asp-controller="Shop" asp-action="ShoppingCart">
                <div id="shopping-cart-container">
                <span id="number-of-products" class="fa badge fa-lg" value="@await Component.InvokeAsync("ShoppingCart")">
                </span>
                    <partial name="~/Views/Shared/SVGs/ShoppingCartIcon.cshtml" />
                </div>
                <p class="logo-p"> Kundvagn</p>
            </a>

        </div>
    </div>
    <div id="search-div-row-2" class="search-div">
        <input class="search-input" type="text" placeholder="Sök" name="search" list="article-choice" />
        <button onclick="searchFunction()" id="search-btn" type="submit">
            <partial name="~/Views/Shared/SVGs/SearchIcon.cshtml" />
        </button>
    </div>
    <datalist id="article-choice"></datalist>
</div>
