@model KvittoVM
@section JS{
     <script src="~/JS/kvitto.js"></script>
}
@section CSS{
     <link rel="stylesheet" href="~/CSS/Kvitto.css">
}
<div class="super-container">
<h1>Tack för köpet @Model.FirstName!</h1>
<p>Vi skickar en bekräftelse till @Model.Epost inom kort.</p>
<button class="btn" id="fortsättHandla" onclick="location.href='/'" >Fortsätt handla</button>

</div>