.footer-container, .foot-div > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;
}


.footer-container{
    flex-wrap: wrap;
    padding: 0 3rem;
}
.foot-div {
    display: inline-block;
    height:150px;
}

    .foot-div > div *{
        margin:10px;
        height:50px;
        margin-left:0;
        max-width:50px;
    }

    .footer-container b {
        font-size: 2rem;
    }

#info a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--light-purple)
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background: var(--navbar-logos);
    color: var(--light-purple);
    margin: 6rem 0 0 0;
    padding: 3rem 0; 
}

footer svg{
    fill: var(--light-purple);
    cursor:pointer;
}

#footer-bottom-p{
    text-align: center;
}

@media (max-width: 600px) {
    .foot-div > div *{
        max-width: 30px;
        height: 30px;
    }

    .foot-div > div{
        gap: 20px;
    }
}