body {
    margin: 0;
    background: var(--body-background)
}

@font-face {
    font-family: Good Unicorn;
    src: url('../../Typsnitt/Good Unicorn - TTF.ttf')
}

@font-face {
    font-family: Gotham Narrow Book;
    src: url('../../Typsnitt/GothamNarrowBook.ttf')
}

*:not(.h1-logo) {
    font-family: 'Gotham Narrow Book';
}

.navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background: var(--navbar-background);
    box-shadow: 0 0 0.5rem -0.5rem rgb(0 0 0 / 15%);
    gap: 3rem;
    box-sizing: border-box;
    width: 100%;
}

.navbar-container {
    min-width: 100%;
    width: fit-content;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    min-height: var(--navbar-height);
    gap: 1.5rem;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.h1-navbar {
    font-size: clamp(1.6rem, 4vw, 4rem);
    display: inline-block;
    color: var(--navbar-logos);
    letter-spacing: 0.25rem;
}

.h1-logo {
    font-family: Good Unicorn;
}

.h1-navbar h1 {
    margin: 0;
}

#company-logo-svg {
    height: clamp(3rem, 10vw, 12rem);
    width: auto;
    display: flex;
    align-items: center;
    fill: var(--navbar-logos);
}


.search-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.search-input {
    height: 6rem;
    min-width: 30rem;
    width: 100%;
    font-size: 2rem;
    border: none;
    outline: 0.3rem solid var(--navbar-logos);
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
    background: var(--light-purple);
    padding: 1rem 2rem;
}

.navbar-container input[type=text] {
    padding: 0.5rem 1rem;
    color: var(--navbar-logos);
}

    .navbar-container input[type=text]::placeholder {
        color: var(--navbar-logos);
    }

#search-btn {
    font-family: 'Gotham Narrow Book';
    height: 6rem;
    border: none;
    width: 6rem;
    outline: 0.3rem solid var(--navbar-logos);
    box-sizing: border-box;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    background: var(--light-purple);
}

    #search-btn:active {
        box-shadow: 0 0.2rem rgba(20, 20, 20, 0.966);
        transform: translateY(0.2rem);
        filter: contrast(110%);
    }

#icon {
    fill: var(--navbar-logos);
    height: 3.5rem;
}

.navbar-svg-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    min-width: fit-content;
}

#cart {
    height: clamp(3rem, 8vw, 6rem);
    width: auto;
    fill: var(--navbar-logos)
}

#shopping-cart-container {
    position: relative;
    display: inherit;
}

.badge::after {
    content: attr(value);
    font-size: 2rem;
    color: var(--navbar-logos);
    background: var(--light-purple);
    border-radius: 50%;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 5rem;
    top: 0rem;
}

.user-logo {
    height: clamp(3rem, 8vw, 6rem);
    fill: var(--navbar-logos)
}

.logo-p {
    font-size: 1.6rem;
    text-align: center;
    margin: 0.5rem 0;
    color: var(--navbar-logos);
    width: 100%;
    padding: 0;
}

#a-company-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select, button, option {
    cursor: pointer;
}

.logos {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

#search-div-row-2 {
    display: none;
    width: 100%;
}

@media (max-width: 1100px) {
    #search-div-row-1 {
        display: none;
    }

    #search-div-row-2 {
        display: flex;
    }

    .navbar-container {
        padding: 1rem 5rem 3rem 5rem;
    }
}

@media (max-width: 700px) {
    .logos {
        gap: 1rem;
    }

    .badge::after {
        font-size: 1.5rem;
        padding: 0.25rem 0.75rem;
    }
}

@media (max-width: 600px) {
    #search-div-row-1 {
        display: none;
    }

    #search-div-row-2 {
        display: flex;
    }

    .navbar-container {
        padding: 1rem 2rem 3rem 2rem;
    }

    .logo-p {
        font-size: 1.4rem;
    }

    .search-input {
        min-width: 20rem;
        max-height: 4.5rem;
    }

    #search-btn {
        height: 4.5rem;
    }

    #icon {
        height: 3rem;
    }

    .badge::after {
        left: 4rem;
    }
}

@media (max-width: 500px) {
    .badge::after {
        left: 3rem;
    }
}
