:root {
    --navbar-background: white;
    --navbar-logos: #7b63ad;
    --body-background: #f2f2f2;
    --light-purple: #e2d7f7;
    --filter-background: #e2d7f7;
    --price-tag: #7b63ad;
    --light-pink: #E8A0BF;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
}

.default-button {
    background: var(--navbar-logos);
    color: white;
    outline: 0.3rem solid var(--light-purple);
    outline-offset: -0.8rem;
    border: none;
    padding: 1.5rem;
    transition: outline 150ms ease-in;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 2rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

    .default-button:hover,
    .default-button:focus,
    .default-button:focus-visible {
        outline: 0.3rem solid var(--navbar-logos);
        outline-offset: 0.4rem;
    }

    .default-button:active {
        box-shadow: 0 0.2rem rgba(20, 20, 20, 0.966);
        transform: translateY(0.2rem);
        filter: contrast(110%);
    }

.validation-summary-errors ul{
    padding: 0;
    display:flex;
    flex-direction:column;
    gap: 2rem;
}


.invalid-span, .validation-summary-errors {
    color: red;
    font-size: 2rem;
}