@model CheckoutVM

@section CSS{
    <link rel="stylesheet" href="~/CSS/checkout.css">
    <link rel="stylesheet" href="~/CSS/creditCard.css">
    }

@section JS{
    <script src="~/JS/checkout.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js" defer></script>  @*For the card*@

    @*Validation scripts*@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }

<div class="super-container">
    <form id="checkout-form" asp-controller="Sticks" asp-action="checkout">
        <h1>Leveransinformation</h1>
        <div class="inside-form">

            <div class="form-row">
                <div class="two-part">
                <span class="invalid-span" asp-validation-for="FirstName"></span>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                </div>
                <div class="two-part">
                <span class="invalid-span" asp-validation-for="LastName"></span>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                </div>
            </div>
            <div class="form-row">
                <div class="one-part">
                    <span class="invalid-span" asp-validation-for="Email"></span>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>
            </div>
            <div class="form-row">
                <div class="one-part">
                    <span class="invalid-span" asp-validation-for="Address"></span>
                    <label asp-for="Address"></label>
                    <input asp-for="Address" />
                </div>
            </div>
            <div class="form-row">
                <div class="two-part">
                    <span class="invalid-span" asp-validation-for="City"></span>
                    <label asp-for="City"></label>
                    <input asp-for="City" />
                </div>
                <div class="two-part">
                    <span class="invalid-span" asp-validation-for="ZipCode"></span>
                    <label asp-for="ZipCode"></label>
                    <input asp-for="ZipCode" />
                </div>
            </div>
            <div class="form-row">
                <div class="one-part">
                    <span class="invalid-span" asp-validation-for="Country"></span>
                    <label asp-for="Country"></label>
                    <input asp-for="Country" />
                </div>
            </div>
        </div>
        <h1>Betalningsuppgifter</h1>
        <span>Notera att det här är en låtsas webshop och att det inte går att beställa några käpphästar här. Fyll inte i dina riktiga kreditkortsuppgifter! (Pengar kommer oavsett <strong>INTE </strong> dras från kortet eftersom den här hemsidan är fake). Du behöver inte fylla i formuläret nedan, men om du vill testa hur det ser ut kan du fylla i någon av dessa fake kort:<br /><br />
            5555 4444 3333 1111 - Mastercard <br />
            4444 3333 2222 1111 - VISA <br />
            6771 7980 2100 0008 - Maestro
        <br />
        </span>
        <div class="mycredit">
            <div class="form-container">
                <div class="field-container">
                    <label for="name">Namn</label>
                    <input id="name" maxlength="40" type="text">
                </div>
                <div class="field-container">
                    <label for="cardnumber">Kortnummer</label>
                    <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric">
                    <svg id="ccicon" class="ccicon" width="750" height="471" viewBox="0 0 750 471" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                    </svg>
                </div>
                <div class="field-container">
                    <label class="small-label" for="expirationdate">Utgångsdatum (mm/yy)</label>
                    <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
                <div class="field-container">
                    <label class="small-label" for="securitycode">Säkerhetskod</label>
                    <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
        </div>

        <partial name="_CreditCard.cshtml" />

        <input class="default-button" type="submit" value="Bekräfta köp" />
    </form>
</div>
