@model IndexVM

@section CSS{
    <link rel="stylesheet" href="~/CSS/index.css">
    <link rel="stylesheet" href="~/CSS/filter.css">
}

@section JS{
    <script src="~/JS/index.js" defer></script>
    <script src="~/JS/sliders.js" defer></script>
}

<div class="super-container">
    @Html.Partial("_FilterPartial", Model)
   <div class="main-div">
        <h1 id="index-header">Nordens största butik för käpphästar</h1>
        <div class="compare-select">
            <div id="MySelect">
                <select name="sort" id="sort">
                    <option value="1Price">Pris Stigande</option>
                    <option value="0Price">Pris Fallande</option>
                    <option value="1ArticleName">Namn (A-Ö)</option>
                    <option value="0ArticleName">Namn (Ö-A)</option>
                </select>
            </div>
            <a asp-controller="Shop" asp-action="Compare" class="default-button" id="compare-btn">Jämför Käpphästar</a>
        </div>
        <div class="card-container">
        </div>
    </div>
</div>
<input id="hidden-search-input" type="hidden" value="@Model.Search" />