@model OrderConfirmationVM

@section CSS{
     <link rel="stylesheet" href="~/CSS/orderConfirmation.css">
}

<div class="super-container">
<h1>Tack för köpet @Model.FirstName!</h1>
<p class="email-confirmation-p">Vi skickar en bekräftelse till @Model.Email inom kort.</p>
<p class="email-confirmation-p">Skoja, det kommer du inte alls få då detta är en fejk webbutik. Inga varor kommer skickas till dig
    och om du har fyllt i riktiga kredikortsuppgifter kommer inga pengar dras.</p>
<a asp-controller="Shop" asp-action="Index" class="default-button" id="continue-shop-btn">Fortsätt handla</a>
</div>