@model LoginVM

@section CSS{
    <link rel="stylesheet" href="~/CSS/login.css">
}

<div class="login-body">
    <form id="login-form" asp-controller="Account" asp-action="Login">
        <div class="info-div">
            <span class="invalid-span" asp-validation-for="Username"></span>
            <label class="login-label" asp-for="Username"></label>
            <input asp-for="Username" />
        </div>

        <div class="info-div">
            <label class="login-label" asp-for="Password"></label>
            <input asp-for="Password" />
        </div>

        <input id="login-button" type="submit" value="Logga in" />
    </form>

    <a id="register-account-link" asp-controller="Account" asp-action="Register">Skapa ett nytt konto</a>

</div>