@model RegisterVM

@section CSS{
    <link rel="stylesheet" href="~/CSS/register.css">
}

<div class="super-container">
    <div class="register-body">
        <h1>Registrera</h1>
        <div asp-validation-summary="All"></div>
        <form id="register-form" asp-controller="Account" asp-action="Register">
            <div class="info-div">
                <label class="register-label" asp-for="Username"></label>
                <input class="text-input" asp-for="Username" />
            </div>

            <div class="info-div">
                <label class="register-label" asp-for="Email"></label>
                <input class="text-input" asp-for="Email" />
            </div>

            <div class="info-div">
                <label class="register-label" asp-for="Password"></label>
                <input class="text-input" asp-for="Password" />
            </div>

            <div class="info-div">
                <label class="register-label" asp-for="PasswordRepeat"></label>
                <input class="text-input" asp-for="PasswordRepeat" />
            </div>

            <input id="register-button" class="default-button" type="submit" value="Registrera" />
        </form>
    </div>
</div>