#checkout-form {
    width: 42rem;
}

.invalid-span {
    display: block;
    margin-bottom: 1rem;
}

.inside-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.div-first-form {
    width: 42rem;
    box-sizing: border-box;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

    .form-row input {
        box-sizing: border-box;
        padding-right: 0;
    }

.one-part {
    width: 100%
}

.two-part {
    width: 45%;
}

.mycredit {
    margin-top: 15px;
}



.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}


label {
    margin-bottom: 0.8rem;
    display: inline-block;
}


.container {
    height: 25rem;
    margin: 2rem 0 5.5rem 0;
}

.super-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 39rem;
}


@media (max-width: 500px) {
    #checkout-form {
        width: 30rem;
    }

    .small-label {
        min-height: 4.5rem;
        vertical-align: bottom;
    }

    .container {
        height: 25rem;
        margin: 5.5rem 0 0rem 0;
    }

    form h1 {
        font-size: 3rem;
    }
}
