:root {
    --goal-width: 75vw;
    --circle-diameter: 10rem;
    --box-width: 100px;
}

.race {
    position: relative;
    padding: 4rem 0;
}

.race-container {
    min-height: 55vh;
}

.goal {
    position: absolute;
    width: 5px;
    background: var(--navbar-logos);
    margin-left: calc(var(--goal-width) - 5px);
    transform: translateY(10px);
}

.box {
    width: var(--box-width);
    height: var(--box-width);
    background-color: black;
    animation: Move forwards;
    animation-delay: 1s;
    transform: scaleX(-1);
    position: relative;
}

.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border-radius: 50%;
    font-size: 4rem;
    padding: 5px;
    background: #044c6e;
    position: absolute;
    margin-left: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: circle-animation forwards;
    opacity: 0;
    margin-left: calc(var(--box-width) + 25px);
    animation-delay: 1s;
}

.p-name {
    margin: 20px 0 5px 0;
    width: fit-content;
    font-size: 20px;
    animation-delay: 1s !important;
    animation: Move3 forwards;
}

@keyframes Move {

    100% {
        transform: translateX(var(--goal-width)) translateY(0) scaleX(-1);
    }
}

@keyframes Move3 {
    100% {
        transform: translateX(var(--goal-width));
    }
}

@keyframes circle-animation {
    90% {
        opacity: 0;
    }

    100% {
        transform: translateX(var(--goal-width)) translateY(15px);
        opacity: 1;
    }
}

@media (max-width: 1150px) {
    :root {
        --goal-width: 65vw;
    }
}

@media (max-width: 800px) {
    :root {
        --goal-width: 60vw;
        --box-width: 75px;
        --circle-diameter: 5rem;
    }

    .goal {
        scale: 0.8;
        transform: translateY(-40px);
    }

    .circle {
        font-size: 3rem;
        margin-top: calc(var(--box-width) / 4);
    }
}

@media (max-width: 500px) {
    :root {
        --goal-width: 55vw;
        --box-width: 65px;
        --circle-diameter: 4rem;
    }

    .circle {
        font-size: 2.5rem;
    }
}
