.super-container{
    margin:15px;
    display:flex;
    justify-content:center;
}

.grid-container {
    margin-top: 20px;
    width: 520px;
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto auto;
    background-color: rgb(255,255,255);
    outline: 2px solid var(--navbar-logos);
    box-sizing: border-box;

}

.grid-item {
    width: 260px;
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 15px;
    text-align: start;
    box-sizing:border-box;
    padding:5px;
    font-size: 18px;
    border: 1px solid var(--navbar-logos);
    margin:0;

}

    .grid-item:nth-child(4n +1) {
        background: var(--light-purple);
    }
    .grid-item:nth-child(4n +2) {
        background: var(--light-purple);
    }

.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.first-half, .second-half {
    display: flex;
    width:520px;
    box-sizing:border-box;
}
    .second-half{
        flex-direction:column;
    }

    .name-price {
        margin-left: 35px;
    }

.name-price > * {
    margin-bottom: 15px;
    margin-top: 0px;
}

.name-price input{
    display:block;
    width: 150px;
    box-sizing:border-box;
}

#image> * {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: 2px solid var(--navbar-logos);
    border-radius: 5px;
    background:white;
}




.name-price input[type=button] {
    background: var(--navbar-logos);
    color: white;
    outline: 3px solid var(--light-purple);
    outline-offset: -8px;
    border: none;
    padding: 15px;
    transition: outline 150ms ease-in;
    border-radius: 5px;
    font-size:15px;
}

    .name-price input[type=button]:hover {
        outline: 3px solid var(--navbar-logos);
        outline-offset: 4px;
    }

    .name-price input[type=button]:focus {
        outline: 3px solid var(--navbar-logos);
        outline-offset: 4px;
    }

    .name-price input[type=button]:active {
        box-shadow: 0 2px rgba(20, 20, 20, 0.966);
        transform: translateY(2px);
        filter: contrast(110%);
    }      