:root {
    --filter-width: 35rem;
    --heart-fill: rgb(248, 48, 95);
}

.super-container {
    display: flex;
    flex-direction: row;
}

.filter {
    position: sticky;
    top: 0px;
    min-height: 100vh;
    height: 120vh;
    min-width: var(--filter-width);
    background-color: var(--filter-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.4rem 0.4rem;
    border-top: none;
    transition: min-width 300ms ease-in 0s, background 300ms ease-in 0s, border 300ms ease-in 0s;
    box-sizing: border-box;
    padding: 1rem;
}

    .filter > * {
        opacity: 100;
        transition: opacity 300ms ease-in;
    }

.filter-closed {
    min-width: 8rem !important;
    border: 0 solid black;
}

.main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem;
    padding-bottom: 6rem;
}

footer {
    margin-top: 0 !important;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.article-card {
    width: 25rem;
    padding-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.25rem 1rem;
    border-radius: 1rem;
    background: white;
}

.card-div {
    transition: 200ms ease-in scale;
}

    .card-div:hover {
        scale: 1.1;
    }

.card-container a {
    color: black;
    text-decoration: none;
}

.article-card img {
    width: inherit;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: contain;
    height: 25rem;
    width: 25rem;
}

.price {
    position: absolute;
    display: inline-block;
    height: 4rem;
    width: 9rem;
    background: var(--price-tag);
    color: white;
    font-size: 1.5rem;
}

.arrow-div {
    position: relative;
    margin: 0.5rem;
}

.arrow-right {
    position: absolute;
    margin-left: 9rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid var(--price-tag);
}

.price-span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 30%;
    transform: translate( -30%, -50% );
}

#price-name-container{
    margin-left: 1rem;
}

.name {
    font-size: 1.8rem;
    margin: 0.5rem;
    overflow-wrap: break-word;
}

#hamburger {
    fill: #000000;
    stroke: #000000;
    height: 5rem;
    width: auto;
    cursor: pointer;
    transition: transform 300ms ease-in;
    transform: rotate(90deg);
}

.compare-svg {
    position: absolute;
    opacity: 50;
    fill: var(--light-purple);
    height: 3rem;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

    .compare-svg:hover {
        fill: var(--navbar-logos);
    }

.compare-select {
    margin: 2.5rem 0 3rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}


.checkboxes {
    width: 90%;
}

.heart {
    height: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    fill: white;
    stroke: var(--navbar-logos);
    cursor: pointer;
}

    .heart:hover {
        fill: var(--heart-fill);
    }

.heart-fill {
    fill: var(--heart-fill);
}

.div-img {
    position: relative;
    padding: 0;
    width: fit-content;
}

#index-header {
    font-size: 4rem;
    color: var(--navbar-logos);
    text-align: center;
}

.main-div select {
    height: 6rem;
    font-size: 1.8rem;
    background: var(--navbar-logos);
    color: white;
    border: var(--navbar-logos);
    border-radius: 0.5rem;
    width: 25rem;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: center;
}

.svg-compare-fill{
    fill: var(--navbar-logos);
}

#compare-btn {
    width: 25rem;
    height: 6rem;
    font-size: 1.8rem;
    box-sizing: border-box;
}

    .main-div select:hover,
    .main-div select:focus {
        outline: 0.3rem solid var(--navbar-logos);
        outline-offset: 0.4rem;
    }

@media (max-width: 800px) {
    .article-card img {
        height: 15rem;
    }
}


@media (max-width: 600px) {
    .filter {
        min-width: 100%;
    }

    .main-div{
        margin: 0 1.5rem;
    }

    .main-div-closed{
        display: none;
    }
    .article-card{
        width: 15rem;
    }
    .article-card  img{
        width: 15rem;
    }

    .compare-select * {
        width: 20rem !important;
    }
}