.login-body {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 5rem 0;
}

#login-form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
}

.login-label {
    font-size: 2rem;
}

.info-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    width: inherit;
}

.login-body input[type=text], .login-body input[type=password] {
    padding: 0.5rem;
    padding-left: 0.8rem;
    font-size: 1.7rem;
    height: 5rem;
    width: 100%;
    box-sizing: border-box;
}

#register-account-link {
    margin: 1rem;
}

    #register-account-link:hover {
        color: black;
        font-weight: 700;
        margin-bottom: 1rem;
    }
