.super-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50rem;
    padding: 0 50px;
}

#continue-shop-btn {
    width: 30rem;
    margin-top: 2rem;
}

.super-container * {
    text-align: center;
}

#email-confirmation-p{
    width: 100%;
    word-break:break-word;
}