.super-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-body {
    min-height: 60rem;
    width: 35rem;
}

    .register-body h1 {
        margin: 1rem 0;
    }

#register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.register-label {
    font-size: 2rem;
    display: block;
    display: block;
    margin: 1rem 0;
}

.text-input {
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    font-size: 2rem;
    height: 5.5rem;
    width: 100%;
    box-sizing: border-box;

}

    .text-input:focus, .text-input:focus-visible {
        outline: 0.2rem solid var(--navbar-logos);
    }

    #register-button {
        margin-top: 1.5rem;
    }